<%= form_for account do |form| %>

  <div>
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div>
    <%= form.label :legal_name %>
    <%= form.text_field :legal_name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :fax %>
    <%= form.text_field :fax %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>