<h1><%= @state.name %></h1>
<div>
  <%= link_to 'Edit', edit_country_state_path(@state.country, @state) %>
</div>
<div>
  <strong>Name</strong>
  <%= @state.name %>
</div>
<div>
  <strong>Abbreviation</strong>
  <%= @state.abbreviation %>
</div>
<h2>Cities</h2>
<%= render @state.cities unless @state.cities.blank? %>
<%= link_to 'New', new_country_state_city_path(@state.country, @state) %>
<div>
  <%= link_to 'Back', country_path(@state.country) %>
</div>